.customSortable {
    background-color: var(--bs-card-color) !important;
}

.collapseButton {
    position: absolute;
    right: 10px;
    transition: 0.3s ease;
    cursor: pointer;
}

.collapseRotate {
    transform: rotate(180deg);
}

.customCollapse {
    display: none;
}

.customSpan {
    display: inline-block;
    min-width: 100px;
}

.trashButton {
    position: absolute;
    right: 50px;
    transition: 0.3s ease;
    cursor: pointer;
}

.customFilters {
    max-width: 33%;
    max-height: 43px;
}

.edit-btn {
    height: 30px;
    width: 30px;
}

.filter-btn {
    height: 100%;
}

.hide-filters {
    display: none !important;
}

.mw-23 {
    max-width: 23% !important;
}

.custom-span {
    height: 125px;
    overflow: hidden;
    position: relative;
}

.custom-span:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--bs-body-bg) 90%);
    width: 100%;
    height: 25%;
}

@media only screen and (max-width: 600px) {
    .customSpan {
        max-width: 150px;
    }
}