.pattern-overlay::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../images/custom_images/dogcatpattern.png');
    background-repeat: repeat;
    background-size: 35%;
    /* Adjust the percentage to control the size */
    opacity: 0.15;
    pointer-events: none;
    z-index: -1;
}

.customSortable {
    background-color: var(--bs-card-color) !important;
}

.collapseButton {
    position: absolute;
    right: 10px;
    transition: 0.3s ease;
    cursor: pointer;
}

.collapseRotate {
    transform: rotate(180deg);
}

.customCollapse {
    display: none;
}

.customSpan {
    display: inline-block;
    min-width: 100px;
}

.trashButton {
    position: absolute;
    right: 50px;
    transition: 0.3s ease;
    cursor: pointer;
}

.customFilters {
    max-width: 33%;
    max-height: 43px;
}

.edit-btn {
    height: 30px;
    width: 30px;
}

.filter-btn {
    height: 100%;
}

.hide-filters {
    display: none !important;
}

.mw-23 {
    max-width: 23% !important;
    min-width: 185px;
}

.custom-span {
    height: 125px;
    overflow: hidden;
    position: relative;
}

.custom-span:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--bs-body-bg) 90%);
    width: 100%;
    height: 25%;
}

.custom-category-card {
    border-radius: 10px;
}

.category-all {
    background-color: #f48f80;
}

.category-dogs {
    background-color: #e4e5e7;
}

.category-cats {
    background-color: #f7a668;
}

.category-parrots {
    background-color: #81ccc9;
}

.category-other {
    background-color: #e2e3e5;
}

.custom-image {
    float: left;
    margin: 0 20px 10px 0;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 0.625rem;
}

.custom-paragraph {
    text-indent: 2em;
}

.custom-image-roll {
    width: 33.33%;
    flex: 0 0 auto;
}

.custom-description-space {
    min-height: 300px;
}

.custom-header {
    margin: 0px !important;
}

.custom-return-button {
    position: absolute;
    left: 10px;
    top: 10px;
    height: 50px;
}

.customLogSearchFilter {
    min-width: 200px;
}

.custom-card-header {
    min-height: 40px !important;
}

.clear-filter-button {
    overflow: hidden;
    white-space: nowrap;
}

.custom-image-wrapper {
    object-fit: cover;
    background-position: center;
}

.custom-input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.custom-drop-zone {
    min-height: auto;
    padding: 1.5rem 1.75rem;
    text-align: center;
    cursor: pointer;
    background-color: var(--bs-primary-light);
}

.custom-image-thumbnail {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-corner-button {
    position: absolute;
    top: 0;
    right: 20px;
}

@media only screen and (max-width: 600px) {
    .customSpan {
        max-width: 150px;
    }

    .logTableResponsive {
        display: none;
    }
}